!!! 5
%html
  %head
    %title='Calendar Events'
  %body
    %header
      %h1='Calendar Events'
    -for day in @days.keys.sort
      .day=day.split(/:/)[1]
      -for event in @days[day]
        .event
          %a{:href => event.url}= event.summary
          .details
            -if !event.description.empty?
              .description= event.description
            %dl
              -if !event.location.empty?
                %dt Where
                %dd= event.location
              %dt When
              %dd=format_time_range(event.start_time, event.finish_time, event.all_day)
    %footer
      =@errors.join(" ")
      .subscribe
        %ul
          -@calendars.each do |cal, calendar_name|
            %li
              ="#{calendar_name}: "
              %a{ :href => gcal_ical_url(cal) } Download (iCal)
              %a{ :href => gcal_feed_url(cal) } Subscribe
      .fork
        Powered by <a href="http://github.com/Aupajo/sinatra-gcal">Sinatra GCal</a>.