!!! 5
%html
  %head
    %title='Calendar Events'
    %link{:href => 'simple.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8'}
    
  %body
    =yield
    %footer
      =@errors.join(" ")
      .subscribe
        %ul
          -@data[:calendars].keys.sort.each do |title|
            %li
              =h title
              %a{ :href => gcal_ical_url(@data[:calendars][title]) } Download (iCal)
              %a{ :href => gcal_feed_url(@data[:calendars][title]) } Subscribe
      .fork
        Powered by <a href="http://github.com/Aupajo/sinatra-gcal">Sinatra GCal</a>.
    