!!! 5
%html
  %head
    %title='Calendar Events'
    %link{:href => 'simple.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen', :charset => 'utf-8'}
    
  %body
    =yield
    %footer
      =@errors.join(" ")
      .subscribe
        %ul
          -@calendars.each do |cal, calendar_name|
            %li
              ="#{calendar_name}: "
              %a{ :href => gcal_ical_url(cal) } Download (iCal)
              %a{ :href => gcal_feed_url(cal) } Subscribe
      .fork
        Powered by <a href="http://github.com/Aupajo/sinatra-gcal">Sinatra GCal</a>.
    