!!! 5
%html
  %head
    %title= options.site_title
    =@font_styles
  %body
    #container
      =yield
      %footer
        =@errors.join(" ")
        -if @show_credits
          .fork
            Powered by <a href="http://github.com/Aupajo/sinatra-gcal">Sinatra GCal</a>.
    